<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cec9238a-58e0-4195-800d-2eadb2044de9/resourceGroups/dataonline/providers/Microsoft.Web/sites/INZPortal</ResourceId>
    <ResourceGroup>dataonline</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://inzportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>inzportal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>INZPortal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$INZPortal</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="INZ_dbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:z8bzzw8f15.database.windows.net,1433;Initial Catalog=inz_db;User ID=graeme@z8bzzw8f15;Password=T4ng1es202" Name="Data Source=tcp:z8bzzw8f15.database.windows.net,1433;Initial Catalog=inz_db;User Id=graeme@z8bzzw8f15;Password=T4ng1es202;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DO_Manage.Data.INZ_dbEntities, DO_Manage" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="INZ_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.SourceDataModel.csdl|res://*/Data.SourceDataModel.ssdl|res://*/Data.SourceDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:z8bzzw8f15.database.windows.net,1433;Initial Catalog=inz_db;User Id=graeme@z8bzzw8f15;Password=T4ng1es202;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>